################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/News/v16
/obj
News.AssemblyInfo.cs
News.AssemblyInfoInputs.cache
News.RazorAssemblyInfo.cache
News.RazorAssemblyInfo.cs
News.RazorCoreGenerate.cache
News.RazorTargetAssemblyInfo.cache
News.RazorTargetAssemblyInfo.cs
News.TagHelpers.input.cache
News.TagHelpers.output.cache
News.Views.dll
News.Views.pdb
News.assets.cache
News.csproj.CopyComplete
News.csproj.CoreCompileInputs.cache
News.csproj.FileListAbsolute.txt
News.csprojAssemblyReference.cache
News.dll
News.pdb
Index.g.cshtml.cs
Privacy.g.cshtml.cs
Error.g.cshtml.cs
_CookieConsentPartial.g.cshtml.cs
_Layout.g.cshtml.cs
_ValidationScriptsPartial.g.cshtml.cs
_ViewImports.g.cshtml.cs
_ViewStart.g.cshtml.cs
News.csproj.EntityFrameworkCore.targets
News.csproj.nuget.cache
News.csproj.nuget.dgspec.json
News.csproj.nuget.g.props
News.csproj.nuget.g.targets
project.assets.json
.dtbcache
obj
/node_modules
dist
